{% extends "base.html" %}
{% block content %}

    <h2>{{ page_title }}</h2>
    <p>
        The Byzantine Empire, heir to Rome and guardian of Orthodox Christianity, was shaped by emperors whose reigns defined centuries of history. From the codification of law under Justinian I to the final stand of Constantine XI against the Ottomans, each ruler left a legacy of conquest, reform, and resilience. Below is a gallery of some of the most influential Byzantine emperors and empresses.
    </p>

    {% for member in company %}

        <div class="row featurette">

            {% if loop.index % 2 != 0 %}

                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
                    <p>{{ member.description }}</p>
                </div>
                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="{{ member.name }}" class="featurette-image image-responsive">
                </div>
            
            {% else %}

                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="{{ member.name }}" class="featurette-image image-responsive">
                </div>
                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
                    <p>{{ member.description }}</p>
                </div>

            {% endif %}

        </div>

        {% if loop.index != loop.length %}
            <hr class="featurette-divider">
        {% endif %}

    {% endfor %}

{% endblock %}
